@font-face {
  font-family: "OneNikeGlyphs";
  src: url("OneNikeGlyphs.woff")
}

.glyph {
  font-family: "OneNikeGlyphs";
  cursor: pointer;
}

.gly-jordan {
  &:before {
    content: "\f11e";
    font-size: 21px;
  }
}

.gly-converse {
  &:before {
    content: "\f15b";
    font-size: 62px;
  }
}

.gly-hurley {
  &:before {
    content: "\f14e";
    font-size: 48px;
    line-height: 42px;
  }
}

.gly-cart {
  &:before {
    content: "\f108";
    font-size: 23px;
  }
}

.gly-flag {
  height: 13px;
}

.gly-logo {
  &:before {
    content: "\f139";
    font-size: 70px;
    line-height: 68px;
    position: relative;
    top: -2px;
  }
}

.gly-search {
  &:before {
    content: "\f130";
    font-size: 17pt;
  }
}

.gly-menu {
  &:before {
    content: "\f123";
    font-size: 40px;
  }
}

.gly-close {
  &:before {
    content: "\f147";
    font-size: 40px;
  }
}
